PROJECT_NAME="Addis Event Bot Backend"
API_V1_STR="/api/v1"
ENVIRONMENT="development"
DEBUG=True
PORT=8000
HOST="0.0.0.0"

# PostgreSQL Settings
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=addis_event_db
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/addis_event_db

# Redis Settings
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379/0

# LLM API Keys
GEMINI_API_KEY=""
DEEPSEEK_API_KEY=""
GROQ_API_KEY=""

# Scraper Session Cookies
INSTAGRAM_SESSION_ID=""
TIKTOK_SESSION_ID=""

# Telegram Bot & Mini App Settings
TELEGRAM_BOT_TOKEN="8499714529:AAhVuQ4zBf7RBhsyDVvkiAMJSz0qU4Dh3Pc"
MINI_APP_URL="https://83bf-196-189-150-186.ngrok-free.app"
